# Dependencias de Node.js
/node_modules

# Archivos de registro
logs
*.log

# Entornos específicos
.env

# Archivos generados por IDEs o editores de texto
.vscode
.idea

# Archivos de configuración locales
config/local.js

# Archivos de respaldo
*.bak
*.backup
